@use "variables" as *;






:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.2s, color 0.2s;
  font-family: 'Outfit', sans-serif;


  @include theme-light;

  &.dark {
    @include theme-dark;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Material Symbols removed

// Utility classes for paper border used in multiple places
.paper-border {
  @include paper-border;
}
